{
  "receiver": {
    "receivers": [
      { "module": "announced",
        "config": {
          "interval": {
            "nodeinfo": 300,
            "statistics": 30,
            "neighbours": 30
          },
          "offset": {
            "statistics": 10,
            "neighbours": 20
          }
        }
      },
      { "module": "aliases",
        "config": {
          "file": "./aliases.json"
        },
        "overlay": true
      }
    ],
    "ifaces": [
      "bat0"
    ],
    "storage": {
      "file": "./raw.json"
    },
    "purge": {
      "maxAge": 14
    }
  },
  "provider": {
    "offlineTime": 900
  },
  "webserver": {
    "port": 4000
  }
}
